
.filtros {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin: 20px 0;
  &__filtro {
    align-items: center;
    background-color: #202020;
    border: none;
    border-radius: 4px;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    width: 150px;
    color: rgb(0, 174, 255);
    &--ativo {
      background-color: #282b57;
      color: white;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
