.main_product{
  background-image: url('../../assets/dogao.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px ; /* Raul, experimenta deixar 500px, vai cubrir uma parte da foto mas vai ficar mais compacto. Att.: Vitão*/

  display: flex;
  align-items: center;
  h1{
    color: #fff;
    font-size: 3vw;
    text-align: center;
    width: 26rem;


  }
}

.h1background{
  margin-left:150px;

  padding: 3rem;
  border-radius: 20px;

  background-color: rgba(26, 40, 46, 0.6);
  border: 5px dotted rgb(0, 162, 255);
  width: 26rem;

}
