.header{
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #202020;
}

.header_content{
   display: flex;
   width: 100%;
   justify-content: space-between;

}

.icone{
  width: 300px;
}

.ancoras{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  margin-right: 5%;
  gap: 20px;
  a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
  }
}
